[Unit]
Description=Kafka Broker
After=network.target remote-fs.target
 
[Service]
Type=forking
ExecStart=/opt/kafka/bin/kafka-server-start.sh -daemon /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-start.sh
 
LimitNPROC=1000000
LimitNOFILE=1000000
 
[Install]
WantedBy=multi-user.target